<div class="<%= styles.container %>">
  <div class="<%= styles.image_box %>">
    <img class="<%= styles.image_size %>" src="https://picsum.photos/200" alt="Sample Image">
  </div>
  <div>
    <div class="<%= styles.item_name %>"><%= item.name %></div>
    <p class="<%= styles.item_description %>"><%= item.description %></p>
  </div>
</div>